body {
    font-family: 'Exo 2', sans-serif;
    // background-image: url(bg2.jpg);
    background-color: #BBC4D3;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
}
nav{
    background-color:rgba(255, 255, 255, 0.5);
    .navbar-brand{
        margin-left: 50px;
    }
    .d-flex{
        .login{
            color: #696cff;
            margin-right: 35px;
            margin-top: 17px;
        }
        .regist{
            color: black;
            margin-top: 17px;
            margin-right: 50px;
        }
    }
}

.geser{
    margin-top: 100px;
}


.welcome{
    background-color: #9b9df3;
    margin-bottom: 10px;
    margin-top:10px;
    .container{
        padding: 60px;
        text-align: center;
    }
}
.welcome{
    .start{
        margin-top: -30px;
    }
}

//career
.career{
    .row{
        margin-bottom: 80px;
        .img-career{
            img{
                margin-right: 120px;
            }
           
        }

        @media (max-width: 912px) {
            .img-career{
                img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;
                }
                
            }
        }
        .content-career{
            // display: flex;
            // align-items: center;

            .desc-career{
                margin-top: 20px;
                span{
                    font-weight: var(--semibold-fw);
                    font-size: 16px;
                    color: #696cff;
                }
                .title{
                    margin-top: 8px;
                    font-weight: var(--semibold-fw);
                    font-size: 30px;
                    color: var(--hitam-color);
                }
                .desc{
                    font-weight: var(--regular-fw);
                    font-size: 16px;
                    color: var(--hitam-desc-color);
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                .btn-career{
                    background-color: var(--bg-cocor-secondary);
                    border-color: var(--border-color);
                    border-radius: 50px;
                    color: var(--main-color);
                    width: 150px;
                    font-weight: var(--medium-fw);
                    font-size: 16px;
                }
            }
        }
    }
}
//end career

.kartu{
    margin-top: -30px;
    .text-center{
        .ikon{
            margin-right: 20px;
        }
    }
}

.container{
    .card{
        background-color:rgba(255, 255, 255, 0.5);
        width: 90%;
        max-width: 1070px;
        margin: 0 auto;   
        .judul{
            text-align: center;
            margin-bottom: 25px;
            color: #696cff;
        }
        .sub{
            text-align: center;
            margin-bottom: 40px;
        }
        .row{
            text-align: center;
            h5{
                color: #696cff;
            }
            .isi{
                padding: 20px;
            }
        }
        .bawah{
            margin-top: 30px;
        }
    }
    
}

.treatment{
    margin-top: -30px;
}

.bg-white{
    margin-top: 20px;
    .footer-wrap{
        padding: 40px;
    }
}

.row{
    .copyright{
        color: #696cff;
        text-align: center;
        margin-top: 30px;
    }
}

.bunga{
    text-align: center;
    margin-top: -30px;
}


